* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
}


body {
    margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)
    ),
    url('../images-etc/wallpaper-1de3c9.jpg');
}

* li {
    list-style-type: none;
}


header, nav {
    text-align: center;
}

nav {
    background-color: var(--mainCol);
    display: flex;
    justify-content: space-evenly;
}

#athlete-banner {
    padding: 15px;
    text-align: center;
}

#pract-name {
    display: none;
    text-align: left;
    font-weight: normal;
}

#pract-act {
    display: none;
    font-size: 25px;
    color: var(--drkGrn);
}

#load-msg {
    text-align: center;
}

#step1, #js-show-power, #instructions-button {
    background-color: var(--mainCol);
    border: none;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}

#step1:hover, #js-show-power:hover, #instructions-button:hover {
    background-color: var(--drkRd);
    cursor: pointer;
}

#instructions-button {
    text-align: center;
}

.instructions {
    display: none;
    padding: 0px;
    margin: 15px;
}

ol.instructions li {
    margin-bottom: 0px;
    list-style-type: upper-roman !important;
}

#step1 > a {
    text-decoration: none;
}


:root {
    --drkRd: #851c00;
    --ltRd: #FF4919;
    --mainCol: #d12c00;
    --drkGrn: #00855B;
    --ltGrn: #00D190;
}



#js-activity-list {
    flex-direction: column;
    padding: 5px;
    max-width: 500px;
    margin: auto;
}

.individual-activity {
    padding: 8px;
    
}

ul.act-stats.title {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid var(--drkGrn);
    background-color: rgba(0, 0, 0, 0.5);
}

ul.act-stats.title:hover {
    border: 1px solid var(--ltGrn);
}

ul.act-stats li {
    padding: 3px;
    width: 30vw;
    text-align: center;
}

ul.power-analysis-list {
    background-color: lightgrey;
    padding: 10px !important;
}

ul.power-analysis-list li {
    border-bottom: 1px solid;
    color: black;
    padding: 5px;
}

strong {
    color: var(--drkGrn);
}

span.title {
    color: var(--drkGrn);
    font-weight: bold;
}

span.title:hover {
    color: var(--ltGrn);
}

.title:hover {
    color: var(--ltGrn);
    cursor: pointer;
}

footer {
    color: whitesmoke;
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}

footer a {
    text-decoration: none;
}