* {
    padding: 7px;
    list-style-type: none;
    border: none;
    text-align: left;
}

main {
    padding: 0px;
}

a {
    text-decoration: aquamarine;
}

ul {
    border: 1px solid springgreen;
}

#js-activity-list {
    display: none;
}

